h1 {
  font-family: "Montserrat" helvetica, arial, sans-serif;
  font-size: 36px; }

p {
  font-family: georgia, serif;
  font-size: 16px;
  line-height: 16px; }

body {
  background-color: #312b2c;
  color: #F5E5C0; }

.container {
  text-align: center;
  width: 700px;
  margin: 50px auto 0 auto; }

.chord {
  list-style: none;
  padding: 0;
  float: left;
  margin: 50px 25px; }

.trigger {
  width: 50px;
  height: 25px;
  background: #000;
  margin-bottom: 1px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.major .trigger {
  background-color: #F8CA4D; }

.minor .trigger {
  background-color: #EA6045; }

.diminished .trigger {
  background-color: #57768C; }

.controls {
  margin-top: 100px; }

a {
  text-decoration: none;
  color: #2ed4ff; }
  a:hover {
    color: #00c7fa; }
